<!DOCTYPE html>
<html>
<head>
	<title>Home | Kevin O'Dea</title>
	<link rel="stylesheet" type="text/css" href="css/ttstyle.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/416460.js"></script>
<!-- End of HubSpot Embed Code -->
<!-- So it begins ... -->
<body>	
<header></header>
<main>
	<h1>TPC Littleton</h1>
	<p style="text-align: center;">Par 3 | 125 yds</p>
	<section>
	</section>
	<section class="threeColumn clearfix">
		<div class="innerWrapperContact yellowPostitContact">
		</div>
	</section>
	<section id="capture">
		<form id=teeTime style="text-align:left; margin:1em 1em; border-style:solid; border-width:5px;">
				First name:<br>
				<input type="text" name="firstname"><br>
				Last name:<br>
				<input type="text" name="lastname"><br>
				Email:<br>
				<input type="text" name="email"><br>
				Date of Tee Time:<br>
				<input type="date" name="data_of_tee_time"><br>
				Number of Golfers:<br>
				<input type="number" name="number_of_golfers"><br>
				<input type="hidden" name="hs_context">
				Book It:<br>
				<input type="submit"><br>
			</form>
	</section>
	
<footer></footer>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/javascripts/calendar.js"></script>

</body>

</html>	
