section:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix img {
	display: block;

}


.twoColumn {
    background: url("../images/corkboardwall.jpg");
    border: 1px black solid;
    width: 100%;
}

.innerWrapper {
    max-width: 400px;
}

.yellowPostit {
    background-color: #FFFFA5;
    border: 1px black solid;
    float: left;
    margin: 2% 5% 2% 5%;
    text-align: center;
    transform: rotate(3deg);
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
}

.yellowPostitTwist {
    background-color: #FFFFA5;
    border: 1px black solid;
    float: left;
    margin: 2% 5% 2% 5%;
    text-align: center;
    transform: rotate(-3deg);
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
}

.notecard {
    background: url("../images/Notecard.jpg");
    border: 1px black solid;
    float: left;
    width: 380px;
    margin-left: 10px;
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 5px 5px 9px rgba(0,0,0,.6);
}

.notecardTwist {
    background: url("../images/Notecard.jpg");
    border: 1px black solid;
    float: left;
    width: 380px;
    margin-left: 10px;
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    transform: rotate(-3deg);
    box-shadow: 5px 5px 9px rgba(0,0,0,.6);
}
